extends layout

block content
	div(class='panel')
	div(class='panel')
		button(id='girIzq') <--
		button(id='girDer') -->

	script(type='text/javascript', src='/javascripts/jquery.js')
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/javascripts/index_client.js')
